# LINE-ENDINGS: CRLF -> LF #
############################
# http://schacon.github.com/git/gitattributes.html
# Convert crlf to lf for non-binary files w/out requiring all
# contributers to have same core.autocrlf setting

* text=auto
